@{
    ViewData["Title"] = "Home Page";
}

<h2>Ejemplo GRID</h2>

<div class="row" style="color:crimson">
    <div class="col">
       
        columna 1
    </div>

    <div class="col">
        columna 2
    </div> 

    <div class="col">
        columna 3
    </div>

    <div class="col">
        columna 4
    </div>
</div>

<div class="row" style="color:#88f">
    <div class="col">
        columna 1
    </div>

    <div class="col-8">
        columna 2
    </div>

    <div class="col">
        columna 3
    </div>
</div>

<br/>

<h2>Ejemplo: vertical</h2>

<br />
<div class="row" style="color:darkgreen">
    <div class="col-sm-4">
        columna 1
    </div>

    <div class="col-sm-4">
        columna 2
    </div>

    <div class="col-sm-4">
        columna 3
    </div>
</div>